//chat room
* {
    box-sizing: border-box; 
}
.container {
    display: flex;
    justify-content: center;
    width: 100vw; 
    overflow-x: hidden; 
    
    .chat-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        width: 95%;
        max-width: 600px;
        
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 5px;
        
        max-width: 100%;
        overflow-x: hidden;
        
        border: 2px solid #4c983b;

        .header {
            background-color: #4c983b;
            color: white;
            width: 100%;
            text-align: center;
            font-weight: bold;
        }

        .messages {
            display: flex;
            flex-direction: column;
            
            align-items: stretch;
            
            width: 100%;
            height: 300px;
            overflow-y: scroll;
            padding: 10px;
            margin-bottom: 10px;
            
            overflow-x: hidden; 

            .message {
                display: flex;
                align-items: flex-start;
                margin-bottom: 10px;
               
                width: 100%; 

                .user {
                    font-weight: bold;
                    margin-right: 10px;
                    color: #4c983b;
                }
                

                & > span:last-child {
                 
                    word-break: break-word; 
                   
                    overflow-wrap: break-word; 
                }
            }
        }

        form {
            display: flex;
            width: 100%;
            padding: 10px;

            .new-message-input {
                flex: 1;
                border: none;
                outline: none;
  
                background: transparent;
                font-size: 16px;
                color: #ffffff;
                padding: 10px;
                border-radius: 5px 0 0 5px;
                

                white-space: pre-wrap; 
                word-break: break-word;
            }

            .send-button {
                border: none;
                width: 100px;
                border-radius: 6px;
                outline: none;
                background: #4c983b;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
            }

            .new-message-form {
                display: flex; 
                align-items: flex-end;
                width: 100%;
            }

            .new-message-form textarea.new-message-input {
                flex-grow: 1; 
                overflow-y: auto; 
                white-space: pre-wrap; 
                word-break: break-word;
            }
        }
    }
}
