// auth 

.auth-button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #4c983b;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

// enter room

.enter-room {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 35vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        label {
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
        }

        input {
            width: 200px;
            height: 40px;
            border: 2px solid #4c983b;
            border-radius: 6px;
            padding-left: 5px;
            font-size: 20px;
            text-align: center;
            margin: 5px;
        }

        button {
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 6px;
            padding-left: 5px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 5px;
            background-color: #4c983b;
            color: white;
            cursor: pointer;
        }
    }
}

.sign-out {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        background: transparent;
        color: #de1010;
        border-radius: 6px;
        border: 3px solid #4c983b;
        padding: 10px;
        width: fit-content;
    }
}

//chat room

.container {
    display: flex;
    justify-content: center;
    
    .chat-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        width: 50%;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 5px;
        overflow: hidden;
        border: 2px solid #4c983b;

        .header {
            background-color: #4c983b;
            color: white;
            width: 100%;
            text-align: center;
            font-weight: bold;
          }

          .messages {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 300px;
            overflow-y: scroll;
            padding: 10px;
            margin-bottom: 10px;

            .message {
                display: flex;
                align-items: flex-start;
                margin-bottom: 10px;

                .user {
                    font-weight: bold;
                    margin-right: 10px;
                    color: #4c983b;
                  }
              }
          }

          form {
            display: flex;
            width: 100%;
            padding: 10px;

            .new-message-input {
                flex: 1;
                border: none;
                outline: none;
                background: transparent;
                font-size: 16px;
                color: #ffffff;
                padding: 10px;
                border-radius: 5px 0 0 5px;
              }

              .send-button {
                border: none;
                width: 100px;
                border-radius: 6px;
                outline: none;
                background: #4c983b;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
              }

              .new-message-form {
                display: flex; 
                align-items: flex-end;
                width: 100%;
                }

                .new-message-form textarea.new-message-input {
                    flex-grow: 1; 
                    overflow-y: auto; 
                }
          }
      }
  }
